.select {
    display: none;
}

.select-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.select-item {
    width: 15.8%;
    margin-bottom: 15px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
}

.select-item__img {
    cursor: pointer;
}

.select-item__icon {
    width: 25px;
}

.select-item__icon svg path {
    fill: yellow;
    cursor: pointer;
}

.select-image-wrap {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.select-image-wrap::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 2;
}

.select-image-container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 30px;
}

.select-image-container__full-image {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
}

.select-image-container__close-btn {
    width: 25px;
    position: absolute;
    right: -40px;
    top: 2px;
    z-index: 3;
    cursor: pointer;
    transition: .2s;
}

.select-image-container__close-btn:hover {
    transform: rotate(180deg);
}